{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base Page</title>
    <link rel="stylesheet" href="{% static 'styles/base.css' %}">
    <link rel="stylesheet" href="{% static 'styles/home.css' %}">
    <script src="{% static 'js/home.js'%}"></script>
</head>

<body>
    <header>
        <img class="logo" src="{% static 'images/logo.png' %}" alt="">
        <nav>
            <ul class="nav_links">
                <li><a href="#">About us</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Pricing</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#">Registration</a></li>
            </ul>
        </nav>
    </header>

    </div>
    <div class="main">
        {% block content %}

        {% endblock %}
    </div>

</body>

</html>