{% extends "base.html" %}
{% block content %}
<div class="clear">&nbsp;</div>
<h3>Type in the keyword and number of images you want : </h3>
<form action="get_images" method="GET">
    {% csrf_token %}
    Keyword : <input type="text" id="keyword" name="image_keyword"><br>
    Count : <input type="number" id="numImages" name="num_images"><br>
    <p id="additionalText">you need to be a premium member to download above 60 images</p>
    <input type="submit" id="submitButton">
</form>

<script>
    document.getElementById("numImages").addEventListener("input", function () {
        const inputValue = parseInt(this.value);
        const certainValue = 60;

        const additionalText = document.getElementById("additionalText");

        if (inputValue > certainValue) {
            additionalText.style.display = "block";
            document.getElementById("submitButton").disabled = true;
            document.getElementById("submitButton").style.cursor = "not-allowed";

        } else {
            additionalText.style.display = "none";
            document.getElementById("submitButton").disabled = false;
            document.getElementById("submitButton").style.cursor = "allowed";

        }
    });
</script>
{% endblock %}