{% extends "base.html" %}
{% block content %}
<div class="clear">&nbsp;</div>
<h3>Type in the keyword and number of images you want : </h3>
<form action="get_images" method="GET">
    {% csrf_token %}
    Keyword : <input type="text" id="keyword" name="image_keyword"><br>
    Count : <input type="number" id="numImages" name="num_images"><br>
    <p id="additionalText">you need to be a premium member to download above 60 images</p>
    <input type="submit">
    <!-- <div style="float:left;">
        <label for="keyword">Keyword: </label>
        <input id="imageKeyword" name="keyword" size="30" type="text" />
    </div>

    <div style="float:left;">
        <label for="num">Number of images: </label>
        <input id="imageNumber" name="num" size="30" type="text" />
    </div>
    <div class="clear">&nbsp;</div>
    <div class="clear">&nbsp;</div>

    <input type="submit"> -->
</form>

{% endblock %}