{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="column">
        <div class="card">Free Plan</div>
    </div>
    <div class="column">
        <div class="card">Premium Plan
            <ul>
                <li>Unlimited Downloads</li>
                <li>Unlimited Threads</li>
                <li>Unlimited Speed</li>
                <li>Unlimited Storage</li>
                <li>Unlimited Support</li>
                <li>Unlimited Updates</li>
                <li>Unlimited Features</li>
                <li>Unlimited Everything</li>
            </ul>
        </div>
        <div class="content">

            <button href="payment_index.html" type="submit">Buy Now @ $9.99 only!</button>
        </div>
    </div>
</div>

{% endblock %}