{% extends "base.html" %}

<head>
    <link rel="stylesheet" href="{% static 'styles/plans.css' %}">
</head>
{% block content %}
{% if user.is_authenticated %}
<div class="user_current_plan">
    <div class="row">
        <div class="column">
            <div class="card">
                <h3>Current Plan</h3>
                <p>Plan Name : {{user.profile.plan}}</p>
                <p>Plan Duration : {{user.profile.plan_duration}}</p>
                <p>Plan Expiry Date : {{user.profile.plan_expiry_date}}</p>
            </div>
        </div>
    </div>
</div>
{% endif %}
<div class="row">
    <div class="column">
        <div class="card">..</div>
    </div>
    <div class="column">
        <div class="card">..</div>
    </div>
</div>
{% endblock %}